<p style="color: green"><%= notice %></p>

<%= render @plc_meeting %>

<div>
  <%= link_to "Edit this plc meeting", edit_plc_meeting_path(@plc_meeting) %> |
  <%= link_to "Back to plc meetings", plc_meetings_path %>


<p></p>

  <%= link_to "Add Agenda Item", new_plc_meeting_agenda_item_path(@plc_meeting) %>

</div>
  <h2>Agenda Items</h2>
  <% if @agenda_items.any? %>
    <ul>
      <% @agenda_items.each do |agenda_item| %>
        <li>
          <strong>Subject:</strong> <%= agenda_item.subject %><br>
          <strong>Details:</strong> <%= agenda_item.details %><br>
          <%= form_with(model: agenda_item, url: plc_meeting_agenda_item_path(@plc_meeting, agenda_item), method: :patch, local: true) do |form| %>
            <div>
              <%= form.label :done %>
              <%= form.check_box :done, onchange: "this.form.submit()" %>
            </div>
            <div>
              <%= form.label :resolutions %>
              <%= form.text_area :resolutions %>
            </div>
            <%= form.submit "Update", class: "btn btn-primary" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No agenda items found for this meeting.</p>
  <% end %>

















  <%= button_to "delete this plc meeting", @plc_meeting, method: :delete %>

